.card {
    display: flex;
    flex-direction: column;
    width: 370px;
    margin: 1rem 2rem;
    font-family: Montserrat;
}

.details h1 {
    background-color: black;
    font-weight: normal;
    font-size: 1.7rem;
    padding: 0.7rem;
    text-align: center;
}

.button {
    width: 100%;
    padding: 0.7rem 0.3rem;
    font-size: 1.3rem;
    font-weight: normal;
    cursor: pointer;
    outline: none;
    border: none;
}

.button:hover {
    filter: brightness(97%);
}

@media only screen and (max-width: 1000px) {
    .card {
        width: 270px;
        margin: 1rem;
    }

    .details h1{
        font-size: 1.3rem;
    }

    .button {
        font-size: 1.1rem;
    }
}