.imageContainer {
  width: 25%;
  height: 200px;
  margin: 10px auto;
}

.contain {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR-eCnVXLzTJp1cENMrsiVZ79MJ1Hh1xA4QDg&usqp=CAU');
  width: 100%;
  height: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.7;
}
