.SignIn {
    background-color: #FDFDFD;
    width: fit-content;
    margin: auto;
    padding: 2rem;
    border-radius: 20px;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
}

.body {
    padding: 1rem;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
}

.email, .password {
    padding: 0.5rem 1rem;
    width: 350px;
    font-size: 1.1rem;
    margin-top: 1.3rem;
    outline: none;
    border: 1px solid black;
}

.password_container {
    display: flex;
    position: relative;
}

.password {
    padding-right: 1.5rem;
}

.eye {
    position: absolute;
    right: 0.5rem;
    bottom: 0.5rem;
    cursor: pointer;
}

.forgot {
    margin-left: auto;
    width: fit-content;
    font-size: 0.8rem;
    cursor: pointer;
    margin-top: 5px;
    user-select: none;
}

.forgot:hover {
    text-decoration: underline;
}

.login {
    padding: 0.7rem 1rem;
    font-size: 1.1rem;
    outline: none;
    border: none;
    box-shadow: 0 1px 3px grey; 
    margin: 2rem 0;
    cursor: pointer;
    user-select: none;
}

.login:hover {
    filter: brightness(97%)
}

.or {
    font-size: 0.75rem;
    margin: auto;
}

.fb_gog {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
    font-weight: bold;
    font-size: 0.9rem;
}

.fb, .gog {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.fb img, .gog img {
    height: 55%;
    border: 1px solid transparent;
    border-radius: 50%;
    padding: 3px;
    box-shadow: 1px 1px 3px transparent;
}

.fb img:hover, .gog img:hover {
    box-shadow: 1px 1px 3px grey;
}

.already {
    display: flex;
    margin-top: 3.5rem;
    justify-content: center;
    align-items: center;
}

.text {
    font-size: 0.7rem;
    font-weight: bold;
}

.link {
    color: #324DE0;
    font-weight: bold;
    margin-left: 11px;
    font-size: 1.1rem;
    cursor: pointer;
}

.link:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 630px) {

    .SignIn {
        padding: 1rem;
    }

    .email, .password {
        width: 250px;
        font-size: 1rem;
    }    
}