@import url('https://fonts.googleapis.com/css2?family=Amita:wght@400;700&display=swap');

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  position: sticky;
  top: 0;
  z-index: 999;
  font-size: 1.5rem;
}

.logo {
  font-weight: bold;
  color: white;
  text-decoration: none;
  font-family: 'Amita';
  cursor: pointer;
}

.nav, .mobile_nav {
  display: flex;
  margin: 0.5vh 0;
  white-space: nowrap;
}

.mobile_nav {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0.3rem 0;
  background-color: rgba(0, 0, 0, 0.15);
}

.nav_links {
  margin: 7px;
  padding: 0.35vh 0.7rem;
  border-radius: 25px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.5s ease;
  text-decoration: none;
}

.nav_links:hover,
.nav_active_link {
  color: #80DA71;
}

.hamburger {
  font-size: 3.3vh;
  display: none;
  align-items: center;
  cursor: pointer;
  color: white;
}

@media only screen and (max-width: 720px) {
  .nav {
    display: none;
  }

  .mobile_nav {
    display: flex;
  }

  .hamburger {
    display: flex;
  }
}
