.container {
  position: fixed;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #232323 2.08%, rgba(35, 35, 35, 0) 12.5%, rgba(255, 255, 255, 0) 100%), linear-gradient(0deg, rgba(3, 3, 3, 0.43), rgba(3, 3, 3, 0.43)), url(../../assets/LayoutBG.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: scroll;
}